---
layout: layouts/base.njk
---

<h1 class="cv">CV</h1>
<section class="experience">
  <h2 class="heading">Experience:</h2>
  <div class="case-item">
    <div class="case-item__header">
      <div class="case-item__place">
        —&nbsp;Restojob (freelance)
      </div>
      <div class="case-item__date">14.05.2019 - now</div>
    </div>
    <div class="case-item__body">
      <ul type="square" class="case-item__list">
        <li class="case-item__item">
          Working on <a href="https://restojob.ru/">Restojob</a> - service for job search in the restaurant
          business.
        </li>
        <li class="case-item__item">
          I rewrite whole service's frontend
          from scratch using TypeScript, React, Redux, Next.js.
        </li>
      </ul>
    </div>
  </div>
  <div class=" case-item">
    <div class="case-item__header">
      <div class="case-item__place">
        —&nbsp;Yandex
      </div>
      <div class="case-item__date">06.02.2019 - 06.05.2019</div>
    </div>
    <div class="case-item__body">
      <ul type="square" class="case-item__list">
        <li class="case-item__item">
          Worked on <a href="https://yandex.ru/tutor">Яндекс.Репетитор</a> - service for high school students
          to
          prepare for exams.
        </li>
        <li class="case-item__item">
          Core technologies I worked with: React for building UI with component-based approach, Redux for
          state
          management in app, TypeScript for static typing, PostCSS and SCSS for styling, BEM methodology for
          creating extensible and reusable interface components, Git for version control, Webpack for building
          frontend, Jest, Enzyme and Sinon for unit-testing, Hermione for E2E tests.
        </li>
      </ul>
    </div>
  </div>
  <div class="case-item">
    <div class="case-item__header">
      <div class="case-item__place">
        —&nbsp;Freelance
      </div>
      <div class="case-item__date">28.09.2018 - 01.02.2019</div>
    </div>
    <div class="case-item__body">
      <ul type="square" class="case-item__list">
        <li class="case-item__item">
          Worked on small russian websites for real estate, medicine and clothing sales.
        </li>
      </ul>
    </div>
  </div>
  <div class="case-item">
    <div class="case-item__header">
      <div class="case-item__place">
        —&nbsp;Web-studio ADCI Solutions
      </div>
      <div class="case-item__date">24.04.2018 - 26.09.2018</div>
    </div>
    <div class="case-item__body">
      <ul type="square" class="case-item__list">
        <li class="case-item__item">
          I have developed interfaces for websites in different projects for European and Russian clients.
        </li>
        <li class="case-item__item">
          I've developed landing page for <a href="https://tableau.com">Tableau</a>'s Russian customers.
        </li>
        <li class="case-item__item">
          Worked with Pug, Scss, JS, BEM, Bootstrap, VueJS, Git, Gulp,
          Webpack.
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="education">
  <h2 class="heading">Education:</h2>

  <div class="case-item">
    <div class="case-item__header">
      <div class="case-item__place">
        —&nbsp;Yandex School of development of interfaces in Moscow
        (Russia).
      </div>
      <div class="case-item__date">
        29.09.2018 - 23.12.2018
      </div>
    </div>
    <div class="case-item__body">
      <ul type="square" class="case-item__list">
        <li class="case-item__item">
          I Listened to the lectures about industrial front-end programming and did practical tasks from Yandex
          developers.
        </li>
        <li class="case-item__item">
          Worked with the team on the project.
          <span class="case-item__project-name">NDA</span>.
        </li>
        <li class="case-item__item">
          Worked with React, Redux, TypeScript, Webpack.
        </li>
      </ul>
    </div>
  </div>

</section>

<section class="about">
  <h2 class="heading">About me:</h2>
  <ul type="square" class="about__list">
    <li class="about__item">
      I'm constantly engaged in self-education.
    </li>
  </ul>
</section>
