---
title: Yury Lavrukhin
description: Hi! I'm a front-end developer. I write articles about web technologies. JavaScript, TypeScript, React.
---
{% from 'components/header/index.njk' import header %}

<!doctype html>
<html lang="en-US">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">

    <link rel="stylesheet" href="/index.css">

    <script src="/assets/scripts/main.js"></script>

  </head>

  <body>
    {{ header(page=page)}}

    <main>
      {{ content | safe }}
    </main>
  </body>

</html>
