---
title: Yury Lavrukhin, frontend web developer
description: I write articles about web technologies
---

<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">

    <link rel="stylesheet" href="/index.css">
  </head>

  <body>
      <main>
        {{ content | safe }}
      </main>
  </body>

</html>
