*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: var(--typo-font-size);
  font-family: var(--typo-font-family);
  color: var(--color-primary-text);
  line-height: var(--typo-line-height);
}

body {
  padding: 20px;

  @media (max-width: 480px) {
    padding: 15px;
  }
}

img {
  max-width: 100%;
  display: block;
}

.content :matches(p, h1, h2, h3, img) {
  margin: calc(var(--typo-baseline) * 0.5) 0;
}

.content :first-child {
  margin-top: 0;
}
