*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: var(--typo-font-size);
  font-family: var(--typo-font-family);
  line-height: var(--typo-line-height);
  color: var(--color-primary-text);
}

body {
  padding: 20px;
}

img {
  max-width: 100%;
  display: block;
}
