*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: var(--typo-font-size);
  font-family: var(--typo-font-family);
  line-height: var(--typo-line-height);
}

body {
  padding: 20px;
}
