:root {
  --typo-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, Helvetica,
    sans-serif;
  --typo-font-size: calc(16px + 0.4vw);
  --typo-line-height: 1.6;
  --typo-baseline: calc(var(--typo-line-height) * var(--typo-font-size));
}
