h1 {
  text-align: center;
  font-size: 2.7rem;
  margin-bottom: var(--typo-baseline);

  @media (max-width: 768px) {
    font-size: 2.2rem;
    margin-bottom: calc(var(--typo-baseline) * 0.5);
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: var(--typo-baseline);

  @media (max-width: 768px) {
    font-size: 1.5rem;
    margin-bottom: calc(var(--typo-baseline) * 0.5);
  }
}
