.case-item {
  &:not(:last-child) {
    margin-bottom: 20px;

    .case-item__header {
      margin-bottom: 10px;
    }
  }

  &:not(:last-child) {
    @media (max-width: 768px) {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #ccc;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__place {
    font-weight: bold;
    margin-right: 30px;
    font-size: calc(var(--typo-font-size) * 1.1);

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__date {
    font-weight: bold;
    font-style: italic;
    flex-shrink: 0;
  }

  &__list {
    margin: 0;
    padding-left: 60px;

    @media (max-width: 768px) {
      padding-left: 15px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 5px;
  }

  &__project-name {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
  }

  &__icon {
    margin: 0 3px 0 7px;
    width: 15px;
  }
}
.experience {
  margin-bottom: 20px;

  .case-item__header {
    margin-bottom: 10px;
  }
}
