.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  &__avatar-container {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__avatar-image {
    margin-right: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &__avatar-text {
    font-size: 20px;
    font-weight: 600;
  }
}
