{% macro header(page, routes) %}
<header class="header">
  <div class="header__avatar-container">
    <img class="header__avatar-image" src="/assets/images/me.jpg">
    <a href="/" class="header__avatar-text">Yury Lavrukhin</a>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      {% for navigationLink in routes.navigationLinks %}
        <li class="nav__item">
          <a
            class="nav__link{% if page.url === navigationLink.url %} nav__link--active{%endif%}"
            href="{{navigationLink.url}}"
          >{{navigationLink.title}}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
{% endmacro %}
