---
layout: layouts/base.njk
title: Yury Lavrukhin , front-end web developer
description: I write articles about web-technologies
---

<h1>Articles</h1>
<center>
  <a href="/articles/promises-asyncronous-js">Asynchronous JS. Promises</a><em> 09. 10. 2019</em>
</center>
