---
layout: layouts/base.njk
title: Yury Lavrukhin , front-end web developer
description: I write articles about web-technologies
---

<div class="base__title-container">
  <h1>Articles</h1>
  <a href="/feed.xml" class="base__rss">RSS</a>
</div>

<center>
  <ul style="list-style: none;">

  {# {% for date in collections.articles | groupByPublicationDate %} #}
    <li>
      <a href="/articles/year-in-aviasales">Year in Aviasales</a><em> 26. 10. 2020</em>
    </li>
    <li>
      <a href="/articles/2019-year-results">2019 year results</a><em> 01. 01. 2020</em>
    </li>
    <li>
      <a href="/articles/promises-asyncronous-js">Asynchronous JS. Promises</a><em> 09. 10. 2019</em>
    </li>
  </ul>
</center>
